name: Unit Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests with coverage
        run: |
          pytest --cov=tests --cov-report=xml --cov-report=term-missing

      - name: Upload coverage XML (for badges or Codecov)
        uses: actions/upload-artifact@v4
        with:
          name: coverage-xml
          path: coverage.xml
